version: "3.9"

services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:80"
    depends_on:
      - auth-service

  auth-service:
    build: ./services/auth-service
    ports:
      - "4001:4001"
    env_file:
      - ./services/auth-service/.env
    depends_on:
      - auth-db

  product-service:
    build: ./services/product-service
    env_file:
      - ./services/product-service/.env
    depends_on: 
      - product-db

  product-db:
    image: mongo:6
    command: ["--replSet", "rs0", "--bind_ip_all"]

  mongo-init:
    image: mongo:6
    depends_on:
      - product-db
    entrypoint: >
      bash -c "
      sleep 5 &&
      mongosh --host product-db:27017 --eval '
        rs.initiate({
          _id: \"rs0\",
          members: [{ _id: 0, host: \"product-db:27017\" }]
        })
      '
      "

  auth-db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: authdb
    ports:
      - "5433:5432"
