version: "3.9"

services:
  auth-service:
    build: ./services/auth-service
    ports:
      - "4001:4001"
    env_file:
      - ./services/auth-service/.env
    depends_on:
      - auth-db

  auth-db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: authdb
    ports:
      - "5433:5432"
